In [9]:

import pandas as pd

In [12]:
df=pd.read_csv("sample100.csv")

In [13]:
df.head()

,Serial Number,Company Name,Employee Markme,Description,Leave
0,9788189999599,TALES OF SHIVA,Mark,mark,0
1,9780099578079,1Q84 THE COMPLETE TRILOGY,HARUKI MURAKAMI,Mark,0
2,9780198082897,MY KUMAN,Mark,Mark,0
3,9780007880331,THE GOD OF SMAAL THINGS,ARUNDHATI ROY,4TH HARPER COLLINS,2
4,9780545060455,THE BLACK CIRCLE,Mark,4TH HARPER COLLINS,0

In [16]:
import matplotlib.pyplot as plt

In [15]:
import seaborn as sns
import numpy as np
from scipy import stats